@page "/viewJobProspect"

<PageTitle>View Job Prospect</PageTitle>

<div class="row">
    <div class="col">
        <h3 class="display-8">Welcome to the Job Prospect Listing</h3>
    </div>
</div>

@code {

}
